@use '../util' as u;


h1, h2, h3{
    font-weight: 700;
    line-height: 1.1;
    margin-top: 0;
}

//to get vw of mobile = 28px/375 = 7.5% = 7.5vw
//css calc function -lets you combine numbers of different units
//css clamp function - lets us set preferred min/max value -takes 3 params - min val, preferred val, max val

h1{
    //font size is at least 16px + 2vw - limits excessive growth of h1 as viewport size increases
    font-size: clamp(u.rem(28), u.rem(16) + 2vw, u.rem(40));

    //@include u.breakpoint(medium){
    //    font-size: 36px;
    //}
    //@include u.breakpoint(large){
    //    font-size: 42px;
    //}
}

h2{
    font-size: clamp(u.rem(22), u.rem(14) + 1.5vw, u.rem(36));
}

p{
    margin-top: 0;
    font-size: u.rem(16);
}

a, a:visited, a:active{
    text-decoration: none;
}